{{>header}}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="main-header" style="background-image: url(/images/blog-header.jpg)">
  <div class="vertical">
    <h1 class="main-header-title">{{title}}</h1>
  </div>


</header>
<div class="container">
  <div class="row">
    <div class="twelve columns" >

          {{#each collections.posts}}
          <article class="post">
            <header>
              <h4 class="post-title"><a href="/{{{this.path}}}/">{{this.title}}</a></h4>
            </header>
            <section class="post-excerpt">
              <p>{{{truncate this.excerpt 200}}}</p>
            </section>
            <footer class="post-meta">
              <a class="post-author" href="https://twitter.com/gtothesquare">Geries Handal</a>
              <time class="post-date" datetime="this.date">{{moment this.date  format="MMMM Do YYYY"}}</time>
            </footer>


          </article>
          {{/each}}


    </div>
  </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{>footer}}
